<div class="container">
    <div class="owner-info" *ngIf="owner">
        <h2>{{owner.firstName}}</h2>
        <form [formGroup]="form" (ngSubmit)="save()" >
            <mat-form-field appearance="outline" class="custom-input">
                <mat-label for="first-name">Имя</mat-label>
                <input matInput formControlName="firstName" id="first-name" placeholder="Owner name"
                    autocomplete="firstName">
                    
                <mat-error class="error" id="requiredEmailError"
                    *ngIf="form.controls['firstName'].hasError('required')">
                    Введите имя
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="custom-input">
                <mat-label for="last-name">Фамилия</mat-label>
                <input matInput formControlName="lastName" id="last-name" placeholder="Owner name"
                    autocomplete="lastName">
                <mat-error class="error" id="requiredEmailError" *ngIf="form.controls['lastName'].hasError('required')">
                    Введите фамилию
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="custom-input">
                <mat-label for="middle-name">Отчество</mat-label>
                <input matInput formControlName="middleName" id="middle-name" placeholder="Owner name"
                    autocomplete="middleName">
                <mat-error class="error" id="requiredEmailError"
                    *ngIf="form.controls['middleName'].hasError('required')">
                    Введите отчество
                </mat-error>
            </mat-form-field>

            <h2>Автомобили</h2>

        </form> 
        <ng-container *ngFor="let carItem of ownerClone.cars">
            <app-car-form [car]="carItem" (formChanged)="carChanged($event)"></app-car-form>
        </ng-container>
        <div class="owner-btn-group">
            <button mat-raised-button color="primary" (click)="goBack()">Назад</button>
            <button (click)="reload()" mat-raised-button type="submit" color="primary"
            [disabled]="form.invalid || submitted">Обновить</button>
        </div>
        

    </div>
</div>